body {
    background-color: #407380;
   
}
h1{
    color: #FF7A00;
}
h2 {
    color: #FF7A00;
}
h3{
    color: #FF7A00;
}
h4{
    color: #FF7A00;
}
a:link
{
    color: blue;
}
a:visited{
    color: yellow;
}
p{
    color: #01CEFF;
}
ul{
    color: #01CEFF;
    list-style-type: circle;
}
h3{
    text-transform: capitalize;
}
table{
    width: 100%;
}
th{
    text-transform: capitalize;
    float: center;
}
td{
    text-transform: capitalize;
}