body {
    background-color: #407380;
   
}
h1{
    color: #FF7A00;
}
h2 {
    color: #FF7A00;
}
h3{
    color: #FF7A00;
}
h4{
    color: #FF7A00;
}
figure {
    border-style: solid;
    border-color: #00000000;
}
p{
    color: #01CEFF;
}
pre{
    color: #01CEFF;
}
ul{
    color: #01CEFF;
}
